[mysqld]
user = root
# 데이터가 저장될 위치. PV 위치이다.
datadir = /var/lib/mysql
port = 3306
log-bin = /var/lib/mysql/mysql-bin
# 외부와 연결하기 위한 통로. 0.0.0.0의 의미는 모든 ip를 허용하겠다는 것.
bind-address = 0.0.0.0
# 만약 TRUE면 로컬에서만 수신한다. 다른 컨테이너에서 접근해야하므로 FALSE
skip-networking = false